#premier{
	margin-left: 12%;
	margin-right: 12%;
	font-size: 40px;
	background-color: orange;
	text-align: center;
	font-family: Comic Sans MS;
}
#deux{
	margin-left: 35%;
	margin-right: 15%;
	font-weight: bold;
	color: gris;
}
body{
	margin-left: 12%;
	margin-right: 12%;
	background-color: rgba(0, 70, 15, 1.0);
}